.container {
	width: 500px;
	height: 500px;
}

.progress-meter,
.progress-value {
	fill: none;
}

.progress-meter {
	stroke: #e6e6e6;
}

.progress-value {
	stroke: #f77a52;
	stroke-linecap: round;
	transition: stroke-dashoffset 200ms ease-in-out;
} 

.image{
	background-image: url("https://picsum.photos/200/300/?random");
	border-radius: 50%;
	background-repeat: no-repeat;
	background-size: cover;
}