body{
  text-align: center;
  color: white;
  font-family: 'Roboto', sans-serif;
}

.box {
  background-color: #1abc9c;  /* first color*/

  -webkit-transition: all 1s ease;  
  -moz-transition: all 1s ease;  
  -o-transition: all 1s ease;  
  -ms-transition: all 1s ease;  
  transition: background-color 1s ease;
}

.btn{
	background-color: transparent;
    border: 2px solid white;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 2vw;

    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.text{
	font-size: 5vw;
	padding-top: 10%;
}